header {
  box-shadow: #d2d3d226 0px 10px 20px;
  background-color: var(--main-color);
  color: white;
  position: relative;

  .icon {
    &:hover {
      scale: 1.05;
      text-shadow: 1px 3px 2px var(--transparent-light-green);
    }
  }
}

.icon {
  transition: all .1s;
  height: 32px;

  svg {
    color: white;
    font-size: 32px;
  }
}

footer {
  .icon {
    &:hover {
      scale: 1.05;
      text-shadow: 1px 3px 2px var(--transparent-light-green);
    }
  }
}

.header__box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
}

.header__user {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.header__user-image {
  border-radius: 50%;
  height: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 2px;
}

.header__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.header__user-name {
  font-weight: bold;
  font-size: 20px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.header__user-last-time {
  color: var(--transparent-white-color);
  font-size: 12px;
}

.header__settings {
  display: flex;
  gap: 5px;
}

.header__dropdown {
  position: absolute;
  right: 10px;
  top: calc(100% + 10px);
  background-color: var(--second-white-color);
  min-width: 160px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  z-index: 300;
}

.header__dropdown.open {
  opacity: 1;
}

.header__dropdown.close {
  opacity: 0;
}

.header__dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

  &:hover {
    background-color: var(--transparent-dark-green);
  }
}

form {
  .icon {
    svg {
      color: var(--main-color);
      transition: all .1s;

      &:hover {
        scale: 1.05;
        text-shadow: 1px 3px 2px var(--transparent-dark-green);
      }

      &:active {
        color: green;
      }
    }
  }
}

.form {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 70px;
  box-shadow: 0px -10px 12px #d2d3d226;
  gap: 10px;
}

input[type="submit"] {
  visibility: collapse;
  padding: 5px;
}

input {
  border: 0;
  outline: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  padding: 5px 25px;
  background-color: var(--third-white-color);
  height: 80%;
}

.messages-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
}

.messages-overlay.open {
  background-color: rgba(30, 27, 27, 0.103);
  visibility: visible;
  opacity: 1;
}

.messages-overlay.close {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 700px) {
  .form {
    padding: 10px 20px;
    gap: 20px;
  }

  .header__box {
    gap: 20px;
  }

  .header__settings {
    gap: 20px;
  }

  .header__user {
    gap: 20px;
  }
}