.new-сhat {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--second-white-color);
  z-index: 300;
  border-radius: 10px;
  width: 280px;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 14px 12px;
}

.new-сhat.open {
  display: block;
}

.new-сhat__title {
  font-weight: 500;
  font-size: 16px;
}

.new-сhat__close {
  position: absolute;
  top: 3px;
  right: 3px;

  svg {
    color: var(--dark-green);
    transition: all .4s ease;
    border-radius: 50%;

    &:hover {
      background-color: var(--main-color);
      color: white;
    }

    &:active {
      background-color: white;
      color: red;
    }
  }
}

.new-сhat__submit {
  background-color: var(--main-color);
  color: white;
  width: 150px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  transition: all .1s;

  &:active {
    scale: 0.95;
    background-color: var(--dark-green);
  }
}

.new-сhat__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.new-сhat__form-input {
  border: 0;
  outline: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  padding: 5px 25px;
  background-color: var(--third-white-color);
  height: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 1px 5px 1px;
}

.chats-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
  z-index: 10;
}

.chats-overlay.open {
  background-color: rgba(30, 27, 27, 0.384);
  visibility: visible;
  opacity: 1;
}

.chats-overlay.close {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 700px) {

  .new-сhat {
    width: 380px;
    height: 180px;
  }

  .new-сhat__form {
    padding: 20px;
  }

  .new-сhat__title {
    font-weight: 600;
    font-size: 18px;
  }

  .new-сhat__submit {
    height: 35px;
  }

}

@media (min-width: 700px) {
  .new-сhat {
    width: 380px;
    height: 180px;
  }

  .new-сhat__form {
    padding: 20px;
  }

  .new-сhat__title {
    font-weight: 600;
    font-size: 18px;
  }

  .new-сhat__submit {
    height: 35px;
  }
}

@media (min-width: 1300px) {
  .new-сhat {
    width: 480px;
    height: 200px;
  }

  .new-сhat__form {
    padding: 30px;
  }

  .new-сhat__form-input {
    height: 50px;
  }

  .new-сhat__submit {
    height: 40px;
  }
}