html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  color: #fff;
  line-height: 20px;
  max-width: 500px;
  min-width: 350px;
  margin: 0 auto;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

.form {
  padding: 5px 10px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: white;
  box-shadow: 0px -10px 12px #d2d3d226;
  gap: 10px
}

input[type="submit"] {
  visibility: collapse;
  padding: 5px;
}

input {
  border: 0;
  outline: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  box-shadow: rgb(255 255 255 / 42%) 0px 10px 20px;
  position: relative;
  z-index: 1;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #49a349;
  padding: 10px 15px 10px;
}

.material-icons {
  cursor: pointer;
}

header .material-icons {
  color: #fff;
}

main .material-icons {
  color: #000;
}

form .material-icons {
  color: #49a349;
}

.header__user {
  cursor: pointer;
}

.header__user-image {
  border-radius: 50%;
}

.header__user {
  display: flex;
  gap: 20px
}

.header__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__user-name {
  font-weight: bold;
}

.header__user-last-time {
  color: #ffffff69;
  font-size: 12px;
}

.header__settings {
  display: flex;
  gap: 20px
}

.messages {
  background-color: #FAFAFA;
  height: 100%;
  color: red;
  padding: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #49a3496b #FAFAFA;
}

.message__inner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.message {
  background-color: #49a349;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px 15px;
  max-width: 85%;
  align-self: flex-end;
  border-radius: 20px;
  word-wrap: break-word;
  border-radius: 15px 1px 15px 15px;
}

.message__info {
  display: flex;
  justify-content: flex-end;
}

.message__info-time {
  color: #ffffff9f;
  font-size: 12px;
}

.message__info-icons {
  font-size: 18px;
  color: #92db92;
  margin-left: 5px;
}

.form-input {
  background-color: #F0F0F0;
  padding: 10px;
  height: 40px;
  border-radius: 10px;
}

img {
  cursor: pointer;
}

.header__dropdown {
  display: none;
  position: absolute;
  right: 10px;
  top: calc(100% + 10px);
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.header__dropdown--open {
  display: block
}

.header__dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
}

.header__dropdown-item:hover {
  background-color: #49a3496b;
}
