@import 'common.css';
@import 'header.css';
@import 'footer.css';

.messages {
  background-color: rgb(245, 245, 245);
  height: 100%;
  padding: 15px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--transparent-dark-green) var(--second-white-color);
}

.message__inner {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px 15px;
  max-width: 85%;
  word-wrap: break-word;
  font-weight: 450;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.message--my {
  background-color: var(--main-color);
  color: white;
  align-self: flex-end;
  border-radius: 15px 1px 15px 15px;
}

.message--another {
  background-color: white;
  color: var(--dark-green);
  align-self: flex-start;
  font-weight: 500;
  border-radius: 1px 15px 15px 15px;
}

.message__info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 300;
}

.message__info-time {
  font-size: 12px;
}

.message__info .material-icons {
  font-size: 15px;
}

.message__info--my {
  justify-content: flex-end;
  color: var(--light-green);
}

.message__info--another {
  justify-content: flex-start;
  color: var(--dark-green);
}

.message--new {
  animation: message-appear 0.5s ease-out forwards;
}

@keyframes message-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (min-width: 800px) {
  .message--my {
    align-self: flex-start;
    font-weight: 500;
    border-radius: 1px 15px 15px 15px;
  }
}