.header__user {
  display: flex;
  gap: 10px;
  cursor: pointer;

  .image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 2px;
    background-color: white;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;

    .name {
      font-weight: bold;
      font-size: 20px;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    
    .lastTime {
      color: var(--transparent-white-color);
      font-size: 12px;
    }
  }
}


