header {
  box-shadow: #d2d3d226 0px 10px 20px;
  background-color: var(--main-color);
  color: white;
  position: relative;
  z-index: 1;
}

.icon,
.closeIcon,
.searchIcon {
  transition: all .1s;
  height: 32px;

  &:hover {
    scale: 1.05;
    text-shadow: 1px 3px 2px var(--transparent-light-green);
  }

  svg {
    color: white;
    font-size: 32px;
  }
}

.header__box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  gap: 10px;
}

.title {
  &.open {
    display: block;
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
  }

  &.close {
    display: none;
  }
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.closeIcon {
  position: absolute;
  right: 5px;
  transition: color .3s;

  &:hover {
    color: var(--dark-green);
  }

  svg {
    color: var(--main-color);

    &:active {
      color: red;
    }
  }
}

.input {
  border: 0;
  outline: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  padding: 10px 40px 10px 15px;
  background-color: var(--third-white-color);
  height: 100%;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  transition: all .3s ease;

  &.open {
    opacity: 1;
  }

  &.close {
    opacity: 0;
  }
}

@media (min-width: 700px) {
  .header__box {
    gap: 20px;
  }
}

@media (min-width: 450px) {
  .title.close {
    display: block;
    font-weight: 600;
    font-size: 20px;
  }
}