.auth {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  a {
    font-size: 12px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px 30px;

  .field {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    &__avatar {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      margin-bottom: 25px;

      span {
        position: absolute;
        display: flex;
        bottom: -25px;
      }

      img {
        object-fit: cover;
      }

      .avatar {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 2px;
        transition: all .5s ease;
      }

      .hover {
        opacity: 0;
        position: absolute;
        color: white;
        transition: all .5s ease;
        font-size: 50px;
      }

      &:hover .hover {
        opacity: 1;
      }

      &:hover .avatar {
        -webkit-filter: brightness(70%);
      }
    }

    label {
      position: absolute;
      font-family: "Montserrat", sans-serif;
      margin-bottom: -20px;
      z-index: 1;
      font-size: 12px;
      padding: 10px;
      background-color: var(--second-white-color);
      width: calc(100% - 10px);
      padding: 5px 0 5px 10px;
    }

    input,
    textarea {
      font-size: 16px;
      border: 0;
      outline: none;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      border-radius: 15px;
      padding: 20px 10px 5px 20px;
      background-color: var(--second-white-color);
      height: 60px;
      box-shadow: rgba(99, 99, 99, 0.2) 1px 1px 5px 1px;
    }

    textarea {
      scrollbar-width: thin;
      resize: none;
      padding: 25px 15px 15px 20px;
      height: 150px;
    }
  }

  .button-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0 10px 10px;

    button {
      width: 200px;
      height: 40px;
      border-radius: 25px;
      cursor: pointer;
      transition: all .1s;
      color: white;

      &[disabled] {
        color: #d2d5db;
        background: #6c7589;
        cursor: not-allowed;
      }

      &:hover {
        scale: 1.05;
      }

      &:active {
        scale: 0.95;
        background-color: var(--dark-green);
      }
    }

    .form__submit {
      background-color: var(--main-color);

      &:active {
        background-color: var(--dark-green);
      }
    }

    .cancel {
      background-color: red;

      &:active {
        background-color: darkred;
      }
    }
  }
}


@media (min-width: 700px) {
  .form .field__avatar .avatar {
    height: 160px;
    width: 160px;
  }

  .auth a {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  .form {
    width: 90%;
  }
}

@media (min-width: 1100px) {
  .form {
    width: 70%;
  }
}

@media (min-width: 1400px) {
  .form {
    width: 60%;
  }
}

@media (min-width: 1600px) {
  .form {
    width: 50%;
  }
}