.header__user {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.header__user-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 2px;
  background-color: white;
}

.header__user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.header__user-name {
  font-weight: bold;
  font-size: 20px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.header__user-last-time {
  color: var(--transparent-white-color);
  font-size: 12px;
}

.header__settings {
  display: flex;
}

@media (min-width: 700px) {

  .header__box {
    gap: 20px;
  }

  .header__settings {
    gap: 20px;
  }

  .header__user {
    gap: 20px;
  }
}