@keyframes message-appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px 15px;
  max-width: 85%;
  word-wrap: break-word;
  font-weight: 450;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &.new {
    animation: message-appear 0.3s ease-out forwards;
  }

  &.voice {
    padding: 10px;
    max-width: 100%;
  }

  &.my {
    background-color: var(--main-color);
    color: white;
    align-self: flex-end;
    border-radius: 15px 1px 15px 15px;
  }

  &.another {
    background-color: white;
    color: var(--dark-green);
    align-self: flex-start;
    font-weight: 500;
    border-radius: 1px 15px 15px 15px;
  }

  &__inner audio {
    max-width: 230px;
    margin-bottom: 10px;

    &::-webkit-media-controls-current-time-display,
    &::-webkit-media-controls-time-remaining-display {
      display: none;
    }
  }

  a {
    text-decoration: underline;
  }

  .imageBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 15px;
    }
  }
}

.icons {
  display: flex;
}

.message__info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 300;

  .icons svg {
    font-size: 15px;
  }

  .time {
    font-size: 12px;
  }

  &.my {
    justify-content: flex-end;
    color: var(--light-green);
  }

  &.another {
    justify-content: flex-start;
    color: var(--dark-green);
  }
}

@media (min-width: 400px) {
  .message__inner audio {
    max-width: 100%;

    &::-webkit-media-controls-current-time-display,
    &::-webkit-media-controls-time-remaining-display {
      display: block;
    }
  }
}

@media (min-width: 800px) {
  .message .my {
    align-self: flex-start;
    font-weight: 500;
    border-radius: 1px 15px 15px 15px;
  }
}